<!DOCTYPE html>
<html>
<head>
    <title>Your Colorful Idea</title>
    <link rel="stylesheet" type= "text/css" href="../static/style.css"/>
</head>
<body>
<header><h1 id="1">Your Colorful Idea</h1></header>
<main>
    <div>
        <h2>We provide you for some random thoughts.</h2>
        <p>Please select how many colors you'd like to generate:</p>
        <form action="/random" method="GET">
            <select name="rand_num">
                <option value="2"> 2 </option>
                <option value="3" selected> 3 </option>
                <option value="5"> 5 </option>
            </select>
            <input type="submit"/>
        </form>
    </div>
    <div id="random-display">
        {% for each_color in data.random_color %}
        <div style="background: {{each_color}}; width: 50px; height: 50px"></div>
        <p>{{each_color}}</p>
        {% endfor %}
    </div>
    <div>
        <h2> Would like to get another form of the color?</h2>
        <p>Select the form of your color you would like to change to:</p>
        <form method="GET">

        </form>
    </div>
</main>
</body>
</html>